Django
djangorestframework
django-crispy-forms
django-filter
django-request
django-guardian
Markdown
Pigments
coreapi
psycopg2
PyPDF2
textract
matplotlib
jsonschema
nltk
numpy
pandas
pdfminer
spacy
gunicorn
slate3k